body {
  background: #d9d9d9;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f3f3f3;
}

.bio {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: block;
  position: relative;
  margin-top: 50px;
  background-color: white;
  height: 370px;
  width: 800px;
}

#imgBox {
  width: 200px;
}

.profilePic {
  display: inline-block;
  position: absolute;
  padding-top: 30px;
  padding-left: 20px;
}

.contentBox {
  width: auto;
  padding: 20px;
  margin-left: 200px;
}

#name {
  width: auto;
  font-size: 30px;
  text-align: center;
}

#bioParagraph {
  display: inline-block;
  font-size: 20px;
  text-align: justify;
  margin-top: 0px;
  line-height: 27px;
}

#rjContainer {
  margin-top: 110px;
  height: 310px;
}

#opContainer {
  height: 350px;
}

#tdContainer {
  height: 290px;
}

#tcContainer {
  height: 260px;
  margin-bottom: 40px;
}
