/* Landing Page properties */
.container {
    padding-top: 100px;
    height: 1500px;
    background-color: lightgrey;
    text-align: center;
}
#one, #two, #three, #four {
    margin: 20px;
    width: 45%;
    height: 45%;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}
/*CSS link*/
#one {
  background-image: url("../assets/light-bulb-portrate.jpg");
}
/*GIT link*/
#two {
  background-image: url("../assets/git-octocat-portrate.jpg");
}
/*HTML link*/
#three {
  background-image: url("../assets/jigsaw-puzzle-portrate.jpg");
}
/*PM link*/
#four {
  background-image: url("../assets/idea-board-portrate.jpg");
}
